*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}
html,
body,
main {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}
:root {
  --back-silv: silver;
  --back-dark: darkgray;
  --back-light: lightgray;
  --back-rosy: rosybrown;
  --bord-gray: gray;
  --bord-silv: silver;
  --bord-light: lightgray;
  --bord-dark: darkgray;
  --text-white: whitesmoke;
  --score-indi: indigo;
  --score-rebc: rebeccapurple;
  --score-orch: darkorchid;
  --score-bvlt: blueviolet;
  --score-slat: slateblue;
  --text-black: black;
  --text-crims: crimson;
  --one-blue: blue;
  --two-green: green;
  --three-red: red;
  --four-drblu: darkblue;
  --five-drred: darkred;
  --six-orange: orange;
  --seven-blck: black;
  --eight-grey: grey;
}
html,
body {
  height: 100%;
  background-color: var(--back-silv);
  box-sizing: border-box;
  line-height: 22px;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
body,
.root {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  line-height: 22px;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
main,
.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  gap: 2px 2px;
  border: 2px solid;
  border-color: var(--bord-gray);
}
.viewmin {
  width: 100vmin;
  max-width: 100vmin;
  height: 100vmin;
  max-height: 100vmin;
}
.head {
  width: 91%;
  height: 8%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--back-dark);
  line-height: 1rem;
  font-size: 0.9rem;
}
.headers {
  width: 33%;
  height: 100%;
  flex: 0 1 auto;
  border: 1px solid;
  border-color: var(--bord-gray);
  gap: 2px 2px;
}
.inform {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 5px 5px;
  color: var(--text-crims);
}
.status {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: var(--text-black);
  gap: 3px 3px;
}
.status:hover {
  cursor: pointer;
}
.timing {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 5px 5px;
  color: var(--text-crims);
}
.menu {
  width: 8%;
  height: 8%;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--back-dark);
  border: 2px solid;
  border-color: var(--bord-gray);
  padding: 2px;
}
.togglerL {
  width: 99%;
  height: 99%;
  border-top: 19px solid;
  border-left: 19px solid;
  border-color: var(--bord-light);
}
.togglerR {
  width: 99%;
  height: 99%;
  border-right: 19px solid;
  border-bottom: 19px solid;
  border-color: var(--bord-gray);
}
.togglerL:hover {
  cursor: pointer;
  border-color: var(--bord-gray);
}
.togglerR:hover {
  cursor: pointer;
  border-color: var(--bord-light);
}
.togglerL:active {
  cursor: pointer;
  border-top: none;
  border-left: none;
  border-right: 19px solid;
  border-bottom: 19px solid;
  border-color: var(--bord-gray);
}
.togglerR:active {
  cursor: pointer;
  border-top: 19px solid;
  border-left: 19px solid;
  border-right: none;
  border-bottom: none;
  border-color: var(--bord-light);
}
.side {
  width: 8%;
  height: 91%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--back-dark);
  border: 1px solid;
  border-color: var(--bord-gray);
  line-height: 0.9rem;
  font-size: 0.8rem;
  padding-top: 1rem;
  color: var(--text-black);
}
.field {
  width: 100%;
  height: 33%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.label {
  text-align: center;
  padding: 5px 2px;
}
.label:hover {
  cursor: pointer;
}
.label >:hover {
  cursor: pointer;
}
.label.hide {
  display: none;
}
.score10 {
  width: 100%;
  height: 33%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.score10:hover {
  cursor: pointer;
}
.iconscr {
  line-height: 2rem;
  font-size: 1.5rem;
}
.score10:hover .iconscr {
  opacity: 0.9;
  border-radius: 15px;
  background-color: sandybrown;
  box-shadow: 0px 0px 10px 10px sandybrown;
}
.listscr {
  width: 0vmin;
  height: 100vmin;
  position: absolute;
  top: calc((100% - 100vmin) / 2);
  overflow: hidden;
  right: 0;
  display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
  gap: 10px;
  line-height: 0.75rem;
  font-size: 0.6rem;
  background-color: var(--score-slat);
    -webkit-transition: width 2s ease;
            transition: width 2s ease;
}
.listscr div {
  width: 96%;
  height: 40px;
  border: 1px solid;
  border-color: var(--bord-silv);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
}
.openscr {
	width: 56vmin;
    -webkit-transition: width 2s ease;
            transition: width 2s ease;
}
.game {
  width: 91%;
  height: 91%;
  flex: 1 1 auto;
  display: grid;
  gap: 1px;
  padding: 0;
  margin: 0;
}
.rows5{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: 0;
  margin: 0;
}
.cols5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
  padding: 0;
  margin: 0;
}
.rows10 {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  padding: 0;
  margin: 0;
}
.cols10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
  padding: 0;
  margin: 0;
}
.rows15 {
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  padding: 0;
  margin: 0;
}
.cols15 {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 1px;
  padding: 0;
  margin: 0;
}
.rows25 {
  display: grid;
  grid-template-rows: repeat(25, 1fr);
  padding: 0;
  margin: 0;
}
.cols25 {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 1px;
  padding: 0;
  margin: 0;
}
.cells {
  min-width: 5px;
  max-width: 150px;
  min-height: 5px;
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--back-silv);
  border-width: 1px;
  border-style: solid;
  border-color: var(--bord-gray);
}
.cells:hover {
  cursor: pointer;
  border-color: var(--bord-silv);
  background-color: var(--back-dark);
}
.cells:active {
  cursor: pointer;
  border-color: var(--bord-silv);
  background-color: var(--back-light);
}
.mini {
  line-height: 24px;
  font-size: 22px;
}
.small {
  line-height: 22px;
  font-size: 20px;
}
.medium {
  line-height: 20px;
  font-size: 18px;
}
.large {
  line-height: 18px;
  font-size: 16px;
}
.order1 {
  order: 1;
}
.order2 {
  order: 2;
}
.order3 {
  order: 3;
}
.order4 {
  order: 4;
}
.open,
.open:hover,
.open:active {
  cursor: default;
  border-color: var(--bord-dark);
  background-color: var(--back-light);
}
.mark,
.mark:hover,
.mark:active {
  cursor: pointer;
  border-color: var(--bord-dark);
  background-color: var(--back-rosy);
}
.blue {
  color: var(--one-blue);
}
.green {
  color: var(--two-green);
}
.red {
  color: var(--three-red);
}
.darkblue {
  color: var(--four-drblu);
}
.darkred {
  color: var(--five-drred);
}
.orange {
  color: var(--six-orange);
}
.black {
  color: var(--seven-blck);
}
.grey {
  color: var(--eight-grey);
}

@media (max-width: 980px) {
  html,
  body,
  .root {
    line-height: 22px;
    font-size: 20px;
  }
  .game {
    line-height: 1rem;
    font-size: 0.9rem;
  }
  .listscr {
    line-height: 0.75rem;
    font-size: 0.6rem;
  }
}

@media (max-width: 760px) {
  html,
  body,
  .root {
    line-height: 22px;
    font-size: 20px;
  }
  .game {
    line-height: 0.8rem;
    font-size: 0.75rem;
    gap: 0.5px;
  }
  .cols5,
  .cols10,
  .cols15,
  .cols25 {
    gap: 0.5px;
  }
  .cells {
    border-width: 0.5px;
  }
  .listscr {
    line-height: 0.65rem;
    font-size: 0.55rem;
  }
}

@media (max-width:520px) {
  html,
  body,
  .root {
    line-height: 16px;
    font-size: 14px;
  }
  .game {
    line-height: 0.5rem;
    font-size: 0.4rem;
    gap: 0.5px;
  }
  .cols5,
  .cols10,
  .cols15,
  .cols25 {
    gap: 0.5px;
  }
  .cells {
    border-width: 0.5px;
  }
  .listscr {
    line-height: 0.6rem;
    font-size: 0.5rem;
  }
}
